.Tooltip {
  background-color: var(--color-neutral-5);
  border-radius: 4px;
  box-shadow: 0 2px 14px rgb(0 0 0 / 20%);
  color: var(--color-neutral-1);
  display: flex;
  font-size: 11px;
  padding: 4px 8px;
  white-space: nowrap;

  &__arrow {
    fill: var(--color-neutral-5);
  }
}
