[data-radix-popper-content-wrapper] {
  z-index: 2 !important;
}

.Menu {
  background-color: var(--color-menu-panel);
  border-radius: 8px;
  box-shadow: var(--elevation-400-menu-panel);
  color: var(--color-neutral-1);
  min-width: 150px;
  outline: none;
  padding: 4px;
}
