@use "sass:map";

$themes: (
  dark: (
    neutral-1: #ffffff,
    neutral-2: #b3b3b3,
    neutral-3: #444444,
    neutral-4: #2c2c2c,
    neutral-5: #2c2c2c,
    blue-1: #0d99ff,
    blue-2: #7cc4f8,
    on-blue-1: #ffffff,
    disabled: #ffffff66,
    scrollbar: #686868,
    menu-panel: #1e1e1e,
    ramp-300: #fff3,
    ramp-400: #fff6,
    surface: #383838,
    selected: #394360,
    bg-selected: #394360,
    icon-selected: #7cc4f8,
    text-secondary: #ffffffb2,
  ),
  light: (
    neutral-1: #272727,
    neutral-2: #6e6e6e,
    neutral-3: #e6e6e6,
    neutral-4: #ffffff,
    neutral-5: #f5f5f5,
    blue-1: #0d99ff,
    blue-2: #7cc4f8,
    on-blue-1: #ffffff,
    disabled: #78787866,
    scrollbar: #c3c3c3,
    menu-panel: #ffffff,
    ramp-300: #0003,
    ramp-400: #0000004d,
    surface: #f5f5f5,
    selected: #e5efff,
    bg-selected: #007be5,
    icon-selected: #007be5,
    text-secondary: #00000080,
  ),
);

@mixin theme-variables($name) {
  color-scheme: $name;

  @each $token, $value in map.get($themes, $name) {
    --color-#{$token}: #{$value};
  }
}

:root {
  @include theme-variables(dark);
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-variables(light);
  }
}

:root[data-theme="dark"] {
  @include theme-variables(dark);
}

:root[data-theme="light"] {
  @include theme-variables(light);
}
