@use 'sass:map';

$themes: (
  dark: (
    neutral-1: #ffffff,
    neutral-2: #b3b3b3,
    neutral-3: #444444,
    neutral-4: #2c2c2c,
    neutral-5: #272727,
    blue-1: #0d99ff,
    on-blue-1: #ffffff,
    disabled: #ffffff66,
  ),
  light: (
    neutral-1: #272727,
    neutral-2: #6e6e6e,
    neutral-3: #e6e6e6,
    neutral-4: #ffffff,
    neutral-5: #f5f5f5,
    blue-1: #0d99ff,
    on-blue-1: #ffffff,
    disabled: #78787866,
  ),
);

@mixin theme-variables($name) {
  color-scheme: $name;

  @each $token, $value in map.get($themes, $name) {
    --color-#{$token}: #{$value};
  }
}

:root {
  @include theme-variables(dark);
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-variables(light);
  }
}

:root[data-theme='dark'] {
  @include theme-variables(dark);
}

:root[data-theme='light'] {
  @include theme-variables(light);
}
