:root {
  --spacer-1: 4px;
  --spacer-2: 8px;
  --radius-medium: 5px;
  --radius-large: 13px;
  --elevation-200-canvas:
    0 3px 8px rgb(0, 0, 0, 35%), 0 1px 3px rgb(0, 0, 0, 50%), inset 0 0.5px 0 rgb(255, 255, 255, 8%),
    inset 0 0 0.5px rgb(255, 255, 255, 30%);
}
