$svg-fixed-properties: (
  'fill-ramp-400': var(--color-ramp-400),
);

@mixin svg-color($color: currentcolor, $important: false) {
  $suffix: if(sass($important): ' !important'; else: '');

  :global([data-svg-property='fill']) {
    fill: #{$color}#{$suffix};
  }

  :global([data-svg-property='stroke']) {
    stroke: #{$color}#{$suffix};
  }

  @each $property, $value in $svg-fixed-properties {
    :global([data-svg-property='#{$property}']) {
      fill: #{$value}#{$suffix};
    }
  }
}
