@mixin svg-color($color: currentcolor, $important: false) {
  $suffix: if(sass($important): ' !important'; else: '');

  :global([data-svg-property='fill']) {
    fill: #{$color}#{$suffix};
  }

  :global([data-svg-property='stroke']) {
    stroke: #{$color}#{$suffix};
  }
}
