.StoryBlockCode {
  background-color: #444444;
  border: 1px solid;
  border-radius: 10px;
  color: #ffffff1f;
  margin-top: 50px;
  padding: 16px;

  [data-theme='light'] & {
    color: #0000001f;
  }

  &__imports {
    color: #eaeef3;
    font-size: 13px;
    margin: 0;
  }

  &__import {
    color: #b1b1b1;

    &-as,
    &-from,
    &-semicolon {
      color: #b1b1b1;
    }

    &-path {
      color: #a6e22e;
    }
  }

  &__separator {
    margin: 25px 0;
  }

  &__components {
    color: #eaeef3;
    font-size: 13px;
  }

  &__component-name {
    color: #50bafc;
  }

  &__children {
    margin-left: 10px;
  }

  &__attribute {
    color: #eaeef3;

    &--name {
      color: #b1b1b1;
    }

    &--value {
      color: #a6e22e;
    }
  }

  &__variables {
    font-size: 12px;
    margin-bottom: 5px;

    &--equal {
      color: #a9b7c6;
      margin: 0 2.5px;
    }

    &--name {
      color: #bfaaca;
      margin-left: 2.5px;
    }

    &--type {
      color: #dea677;
    }

    &--value {
      color: #a9b7c6;
    }
  }
}
