@use '@xigma/scss/mixins/disabled';

.MenuSub {
  align-items: center;
  border-radius: 5px;
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  height: 24px;
  outline: none;
  padding: 0 8px;

  &[data-highlighted] {
    background-color: var(--color-blue-1);
  }

  &[data-state='open']:not([data-highlighted]) {
    background-color: color-mix(in srgb, var(--color-neutral-3) 50%, transparent);
  }

  &[data-disabled] {
    @include disabled.disabled;

    cursor: default;

    &[data-highlighted] {
      background-color: transparent;
    }
  }

  &__label {
    flex: 1;
    font-size: 11px;
    white-space: nowrap;
  }

  &__chevron {
    color: var(--color-neutral-2);
    margin-left: 16px;
  }

  &--marginTop {
    margin-top: 8px;
  }

  &--marginBottom {
    margin-bottom: 8px;
  }
}
